@model IEnumerable<GoldenPet.Models.tb_News>
@foreach (var i in Model)
{
    <div class="col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card border-0 mb-2 h-100">
            <img class="card-img-top" src="@($"/Content/img/{@i.ThumbnailImageURL}")" alt=""> @*ảnh tiêu đề*@
            <div class="card-body bg-light p-4">
                <h4 class="card-title text-truncate">@i.Title</h4>
                <div class="d-flex mb-3">
                    <small class="mr-2"><i class="fa fa-user text-muted">@i.AuthorName</i> </small> @*tên tác giả*@
                    <small class="mr-2"><i class="fa fa-folder text-muted"></i> @i.CategoryName</small>  @*tên chủ đề*@
                    <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small> @*số lượt bình luận*@
                </div>
                <p>@i.Content</p> @*nội dung cho thẻ tin tức*@
                <a class="font-weight-bold" href="@Url.Action("getNew_Details", "News", new { id = i.NewsID })">Chi tiết</a>
            </div>
        </div>
    </div>
}

