@model IEnumerable<GoldenPet.Models.tb_News>
@using GoldenPet.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ Html.RenderAction("Top", "Layout");}

<th>
    @Html.DisplayNameFor(model => model.Title)
</th>
<th>
    @Html.DisplayNameFor(model => model.AuthorName)
</th>
<th>
    @Html.DisplayNameFor(model => model.CategoryName)
</th>
<th>
    @Html.DisplayNameFor(model => model.PublishedDate)
</th>
<th>
    @Html.DisplayNameFor(model => model.LastModifiedDate)
</th>
<th>
    @Html.DisplayNameFor(model => model.Status)
</th>

<th>
    @Html.DisplayNameFor(model => model.ThumbnailImageURL)
</th>

<th>Action</th>
@{ Html.RenderAction("MIddle", "Layout");}
@{var Number = 1; }

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.Raw(Number++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @(item.PublishedDate?.ToString("dd/MM/yyyy") ?? "No date available")


        </td>
        <td>
        @(item.LastModifiedDate?.ToString("dd/MM/yyyy") ?? "No date available")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            <img src="~/Content/img/@item.ThumbnailImageURL" width="100px" />
        </td>

        <td>
            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "News", routeValues: new { id = item.NewsID }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-zoom-in'></span>", "Detail", "Details", "News", routeValues: new { id = item.NewsID }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "News", routeValues: new { id = item.NewsID }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })

            @*@Html.ActionLink("Edit", "Edit", new { id = item.NewsID }) |
            @Html.ActionLink("Details", "Details", new { id = item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })*@

        </td>
    </tr>
}

        </table>
        </div>
<script>
    $(function () {
        console.log("DataTable script is running.");
        $('#dataTables-example').DataTable({
            responsive: true,
            columns: [
                { data: 'title' },
                { data: 'content' },
                { data: 'slug' },
                { data: 'AuthorName' },
                { data: 'CategoryName' },
                { data: 'LastModifiedDate' },
                { data: 'Status' },
                { data: 'Summary' },
                { data: 'ThumbnailImageURL' },
                { data: 'MetaTitle' },
                { data: 'actions' } // for the action links

            ]
        });
    });
</script>
