@model IEnumerable<GoldenPet.Models.tb_News>

@foreach (var i in Model)
 {
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-lg-8">
                <div class="d-flex flex-column text-left mb-4">
                    <h4 class="text-secondary mb-3">Tin tức chi tiết</h4>
                    <h1 class="mb-3">@i.Title</h1>
                    <div class="d-index-flex mb-2">
                        <span class="mr-3"><i class="fa fa-user text-muted"></i> @i.AuthorName</span> @*ten tac gia*@
                        <span class="mr-3"><i class="fa fa-folder text-muted"></i>@i.CategoryName</span> @*ten loai tin tuc*@
                        <span class="mr-3"><i class="fa fa-comments text-muted"></i> 15</span>
                    </div>
                </div>

                <div class="mb-5">
                    <img class="img-fluid w-100 mb-4" src="@($"/Content/img/{@i.ThumbnailImageURL}")" alt="Image">
                    <p>@i.Content</p>
                </div>
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="mb-5">
                    <img src="img/blog-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="mb-5">
                    <h3 class="mb-4">Các bài viết gần đây</h3>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="img/blog-1.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="img/blog-2.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="img/blog-3.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="img/blog-1.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="img/blog-2.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> </small>
                                <small class="mr-3"><i class="fa fa-folder text-muted"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <img src="img/blog-2.jpg" alt="" class="img-fluid">
                </div>

                <div class="mb-5">
                    <img src="img/blog-3.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <h2 class=" des-text mb-4">QUY TRÌNH LÀM ĐẸP THÚ CƯNG TẠI GoldenPet</h2>
                <p>Với mong muốn đem lại sự tận hưởng và hạnh phúc cho các bé cưng trong quá trình làm đẹp và một chất lượng xứng đáng với sự tin tưởng của các chủ Pet. Quy trình cho các bé sẽ diễn ra theo từng bước và có những quy tắc riêng. Điều này sẽ giúp Vpet’s dễ dàng hơn trong việc và đảm bảo sự an toàn cho những chú chó, mèo khác đang được chăm sóc tại đây. Quy trình làm đẹp cho Pet yêu sẽ diễn ra theo thứ tự:</p>
                <ul>
                    <li>Thú cưng sẽ được kiểm tra tình trạng da lông và chọn loại dầu tắm phù hợp</li>
                    <li>Vệ sinh và nhổ lông tai</li>
                    <li>Cạo lông vùng bụng, bàn chân và hậu môn</li>
                    <li>Cắt dũa móng</li>
                    <li>Vắt tuyến hôi</li>
                    <li>Tắm spa kết hợp massage giúp bé thư giãn</li>
                    <li>Cắt tỉa/ cạo tạo kiểu theo yêu cầu</li>
                    <li>Sấy khô, chải lông</li>
                    <li>Thoa dưỡng lông và xịt nước hoa</li>
                    <li>Sau khi hoàn thành, các bé sẽ được bác sĩ kiểm tra lại tình trang da lông lần nữa và hướng dẫn cách chăm sóc bé tại nhà</li>
                </ul>
            </div>
            <div class="col-lg-6 mb-5">
                <img class="img-fluid w-100" src="~/Content/img/service-2.png" alt="Grooming Process">
            </div>
        </div>
    </div>
    
 }

